.btn, .form-control , .card, .card-img,
.nav-tabs .nav-link, .breadcrumb{
    border-radius:0px !important;
}

.link{
    color:black !important;
}


.text-indent{
    text-indent: 20px;
}

.text-indent figure,.text-indent img {
    text-indent: 0px;
    width:100%;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
  }
  blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }

body {
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-attachment: fixed;
    object-fit: cover;
    background-size: 100%;
    font-family: 'Roboto', sans-serif !important;
}

.list-group-item {
    border: 0px !important;
}

a.bg-light:hover,
a.bg-light:focus,
button.bg-light:hover,
button.bg-light:focus {
    background-color: transparent !important;
}

.btn-circle{
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    line-height: 1.6;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#side-navbar-animation a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;

    display: inline-block;
    padding: 15px 20px;
    position: relative;
}

#side-navbar-animation a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

#side-navbar-animation a:hover:after { 
    width: 100%; 
    left: 0; 
}

#sidebar-wrapper {
    overflow-x:scroll;
    height: 100%;
    width: 200px;
    position: fixed;
    margin-left: -250px;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 200px;
}

#page-content-wrapper {
    min-width: 250px;
}

.page-wrapper {
    background: #f3f3f5;
    position: relative;
    min-height: 100vh;
    margin-left: 200px;
    margin-top: 70px;
}

.sidebar-divider {
    /* margin: 0 1rem 1rem; */
    background-color:white;
}

#top-white-navbar{
    z-index: -1;
    position: relative;
}

.nav-active{
    background-color: #556068 !important;
}

@media (max-width: 767px) {
    #page-content-wrapper {
        margin-top: 45px;
    }
    .page-wrapper {
        margin-left: 0px;
        margin-top: 60px;
        right: 0px;
    }
    #top-white-navbar{
        display:none;
    }
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        margin-left: 250px;
        min-width: 0;
        width: 100%;
    }
   
}

.m-table {
    border-top:1px solid grey;
}
.icon-black {
    color: black;
}
.icon-arrow-size {
    font-size: 20px;
}
.cat-size {
    font-size:16px !important;
}
.round-btn-primary {
    font-size:20px;
    padding-top: 6px;   
    padding-bottom: 5px; 
    background-color: #2D54C6;
    color: white;
    border-radius: 100%;
}
.round-btn-primary:hover {
    color: white;
}
.add-btn {
    color:black;
}
.add-btn:hover {
    color: white;
}
.main-img-style {
    max-height:600px;
}
.x-btn {
    font-size: 20px;
}
.card-title-post {
    /* font-size: 54px; */
    font-weight: 400;
    font-style: normal;
    color:white;
}
.card-text-post {
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    color:white;
}
.background-post {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgb(0, 8, 121) !important;
    opacity: 0.2;
}
